.navbar {
	height: 80px;
	width: 100%;
	background-color: #171717;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem;
	z-index: 50;
	overflow: hidden;
	position: fixed;
	top: 0;
}

.navbar_logo {
	text-decoration: none;
	font-size: 2.2rem;
	cursor: pointer;
	color: #f4f4f4;
	font-weight: bold;
	margin: 4px auto;
}

.navbar_links {
	display: flex;
	list-style: none;
	align-items: center;
}
.navbar_links > li {
	padding: 1rem;
	padding-left: 0px;
}

.navbar_links > li > a {
	text-decoration: none;
	color: #f4f4f4;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
}

.navbar_links > li > a > span {
	display: flex;
	align-items: center;
	margin: 4px auto;
}

.cart_link {
	background: #333;
	padding: 6px;
	border-radius: 8px;
}

.cart_link:hover {
	background: #dd2121c2;
	color: #f4f4f4;
}

.cartlogo_badge {
	width: 30px;
	height: 25px;
	background: #f4f4f4;
	color: #171717;
	border-radius: 50px;
	margin-left: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1rem;
}
.shopBtn {
	width: 30px;
	height: 25px;
	background-color: rgb(245, 196, 60);
	padding: 12px;
	border-radius: 8px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.9);
}

.hamburger_menu {
	width: 30px;
	height: 30px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	cursor: pointer;
}

.hamburger_menu > div {
	width: 100%;
	height: 10%;
	background-color: #f4f4f4;
}

.hamburger_menu:hover > div {
	background-color: #dd2121c2;
}

@media (max-width: 960px) {
	.navbar_links {
		display: none;
	}
	.hamburger_menu {
		display: flex;
	}
}

@media (max-width: 500px) {
	.navbar_logo h2 {
		font-size: 1rem;
	}
}
