.sideDrawer {
	width: 70%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	transform: translateX(-100%);
	transition: all 0.3s ease-out;
}

.sideDrawer.show {
	transform: translateX(0);
}
