.productscreen {
	max-width: 1000px;
	margin: 1.2rem auto;
	display: flex;
}

.productscreen_left {
	display: flex;
	flex: 0.6;
}

.left_image {
	padding: 1rem auto;
	margin: 1rem auto;
	flex: 0.8;
}

.up_info {
	margin: 1rem;
	flex: 0.4;
	background: #fff;
	height: fit-content;
	font-size: 0.9rem;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.up_info > h2 {
	font-weight: bold;
	padding: 1rem;
	border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.up_info > p,
.below_info > p {
	font-size: 1rem;
	padding: 1rem;
	border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.up_info > p:last-child,
.below_info > p:last-child {
	border: none;
}

.productscreen_right {
	flex: 0.8;
	padding: 1rem;
}

.below_info {
	flex: 0.8;
	margin: 1rem;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.below_info > p {
	padding: 1rem;
	font-size: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.below_info p > button {
	font-size: 1rem;
	grid-column: 1/-1;
	padding: 10px 16px;
	background: rgb(245, 196, 60);
	color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	font-weight: bold;
	border-radius: 8px;
}

.below_info p > select {
	font-size: 1rem;
	padding: 10px, 16px;
	width: 30%;
	height: 25px;
}

@media (max-width: 560px) {
	.productscreen {
		flex-direction: column;
		flex: 1;
	}
	.productscreen_left {
		flex: 1;
		flex-direction: column;
	}
	.left_image {
		padding: 1rem;
		flex: 0.6;
	}

	.productscreen_right {
		flex: 1;
		padding: 1rem;
	}
}
